.header{
  position: absolute;
  top: 0px;
  height: 70px;
  width: 1366px;
  background-color: #999999;
}

.intro h1 {
  position: absolute;
  top: 40%;
  font-size: 50px;
    left: 35%;
    text-align: center;
    font-family: 'Gothic A1', cursive;
    color: black;
}

.intro h3 {
  position: absolute;
  top: 140%;
  font-size: 30px;
    left: 1%;
    text-align: center;
    font-family: 'Gothic A1', cursive;
    color: black;
}
.btn{
  border: 1px solid white;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1{
  color: white;
}
.btn1:hover{
  color: #FFB6C1;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
  height: 180%;
}


.one{
  position: absolute;
  left: 20%;
  width: 700px;
  height: 500px;
  top: 50%;
  background-image: url("https://www.bodybuilding.com/exercises/exerciseImages/sequences/23/Male/l/23_2.jpg");
  background-repeat: no-repeat;
}
.one h1{
  position: absolute;
  top: -20%;
  font-size: 30px;
    left: 10%;
    text-align: center;
    font-family: 'Gothic A1', cursive;
    color: black;

}
.one button{
  right: -50%;
  top: 80%;


}
