html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
}


/* IDEA: ini adalah meow */
body#workout-page{
  margin: 0;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
  background-image: url(main_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .topnav{
  overflow: hidden;
  background-color: #333;
}

.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active{
  background-color: #4CAF50;
  color: white;
}

.topnav .icon{
  display: none;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav a:hover, .dropdown:hover .dropbtn{
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 600px){
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon{
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} */






nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}

nav.black{
  background: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;
}

nav .logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
  color: white;

}

nav.black .logo {
  color: #fff;
}

nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;

}

nav ul li a{
  line-height: 80px;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav.black ul li a{
  color: #fff;

}

nav ul li a:focus{
  outline: none;
}

nav ul li a.active{
  background: #E2462F;
  color: #fff;
  border-radius: 6px;
}



.logo a{
  color: white;
}


section#begin{
  width: 100%;
  height: 100vh;
  background: url(main_bg_2.jpg);
  background-size: cover;
  background-position: center;
}

.katakata h1{
  margin-top: -400px;
  margin-left: 200px;
  font-size: 50px;
  color: white;
}

.katakata h3{
  margin-top: -20px;
  margin-left: 480px;
  font-size: 25px;
  font-style: italic;
  color: white;
}

a{
  text-decoration: none;
}

#first{
  margin-top: 255px;
  width: 100%;
  height: 100vh;
  background: url(shutterstock_758180677.jpg);
  background-size: cover;
  background-position: center;
}

a #first{
  color: white;
}


#first h1{
  margin-left: 800px;
  padding-top: 200px;
  font-size: 80px;
}


#second{
  margin-top: -63px;
  width: 100%;
  height: 100vh;
  background: url(athletic-man-doing-pushups-exercise-at-gym-royalty-free-image-982408932-1542407555.jpg);
  background-size: cover;
  background-position: center;

}

a #second{
  color: white;
}

#second h1{
  margin-left: 350px;
  padding-top: 250px;
  font-size: 80px;
  color: white;
}

#third{
  margin-top: -63px;
  width: 100%;
  height: 100vh;
  background: url(x1080-4_Z.jpg);
  background-size: cover;
  background-position: center;

}

a #third{
  color: white;
}

#third h1{
  margin-left: 950px;
  padding-top: 350px;
  font-size: 80px;
  color: white;
}


#fourth{
  margin-top: -63px;
  width: 100%;
  height: 100vh;
  background: url(Squat-and-walk.jpg);
  background-size: cover;
  background-position: center;

}

#fourth h1{
  margin-left: 850px;
  padding-top: 400px;
  font-size: 80px;
  color: white;
}

a #fourth{
  color: black;
}

.arm-sec{
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(muscular-bodybuilder-guy-doing-exercises-royalty-free-image-876873612-1551107296.jpg);
  background-size: cover;
  background-position: center;
}

.workout-description{
  margin-top: 400px;
  margin-bottom: 60px;
}

.workout-description p{
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
}

.video iframe{
  margin-left: 500px;
  margin-bottom: 60px;
}

.chest-sec{
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(ROB2_1200x672_acf_cropped_1200x672_acf_cropped_1200x672_acf_cropped.jpg);
  background-size: cover;
  background-position: center;
}

.posterior-sec{
  top: 0;
  width: 100%;
  height: 90vh;
  background: url(4-Back-Friendly-Tricks-to-Deadlifting.jpg);
  background-size: cover;
  background-position: center;
}

.leg-sec{
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(training-pace-calculator-1534874738.jpg);
  background-size: cover;
  background-position: center;
}


.wrapper#workout-bg {
  background-image: url("main_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img-container {
  float: left;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  opacity: 0.6;
  transition: 0.3s;
}

.clearfix{
  margin-left: 50px;
  margin-top: 200px;
  margin-right: 50px;
}

.clearfix p{
  text-decoration: none;
  margin-left: 140px;
  color: white;
  font-size: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  box-sizing: border-box;
}

.img-container:hover {opacity: 1}

/* ---------------------------------------Farhad Code  start from here ----------------------------------------------------------------------------------*/

.workout-description3{
  margin-top: 1000px;
  margin-bottom: 0px;
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
}

.workout-description1{
  margin-top: 370px;
  margin-bottom: 0px;
}

.workout-description1 p{
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
}

.workout-description2{
  margin-top: 0px;
  margin-bottom: 0px;
}

.workout-description2 p{
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
}


#Button1, #Button2, #Button3, #Button4, #Button5, #Button6, #Button7 {
    background: #1797B1;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: 4px solid #badfe7;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 10px;
    position: fixed;
    transform: rotate(90deg);
}
#Button5, #Button6, #Button7 {
    background: #6099E2;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: 4px solid #badfe7;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    padding: 5px 10px;
    position: fixed;
    transform: rotate(360deg);
}
#Button1 {
  top: 150px;
  left: -45px;
}
#Button2 {
  top: 290px;
  left: -45px;
}
#Button3 {
  top: 423px;
  left: -40px;
}
#Button4 {
    top: 556px;
    left: -45px;
}
#Button5 {
  top: 520px;
  left: 40px;
}

#Button6 {
  top: 560px;
  left: 40px;
}
#Button7 {
  top: 600px;
  left: 40px;
}
#Button8 {
    background: #1797B1;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: 4px solid #badfe7;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 10px;
    position: fixed;
    transform: rotate(-90deg);
}
#Button8 {
  top: 150px;
  right: -45px;

}


.link{
  width: 900px;
  margin: 30px auto;

}
.link p{
  text-align: justify;
  font-size: 20px;
}
.fbut1, .fbut2, .fbut3{
  background: #FADBD8;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top: 2px solid #badfe7;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 16px;
  float: left;
  margin: 0px 20px 20px 20px;
  border: 2px solid #1ABC9C;
  font-weight: bold;
  font-size: 25px;
}
/* ---------------------------------------Farhad Code  End from here ----------------------------------------------------------------------------------*/
